
.ssrSectionWrraper{
  background-color: #FBFBFBFB;
  border-radius: 4%;
  padding:calc(  var(--base-font-size));
  text-align: center;
  margin-bottom: calc( var(--base-font-size) * 5);

}



.catrgoriesWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;

}
/* .catrgoriesWrapper >* {
  flex: 0 0 30%;
} */
.category {
  text-align: center;
  border: 1px solid gray;
  line-height: 150px;
  margin: 4px;
  background-color: #fff;
  border-radius: 8px;
  font-size:calc( var(--base-font-size ) + 8px);
  display: inline-block;  
  transition: all .1s ease-in-out;
  width: 100%;


}
.category:hover {
  border: 1px solid rgb(46, 12, 103);
  box-shadow: 0 3px 3px rgb(0 0 0 / 16%);
  transform: scale(1.01);
  transition: all .3s ease-in-out;


}
.categoryLink {
  height: 150px;
  display: block;
}

@media(min-width: 600px) {
  .category {
    width: calc( 50% - 8px);
    max-width: 350px;
    
  }
}
@media(min-width: 992px) {
  .category {
    width: calc( 33% - 8px);
    max-width: 350px;
    
  }
}
/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo,
  .thirteen img {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
